.imageLogo {
  height: 200px;
  width: 200;
}

.tengah {
  justify-content: center;
  text-align: center;
}

.textLogin {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1;
  font-family: "Courier New", Courier, monospace;
}

.setForm {
  /* display: flex;
  justify-content: center; */
  /* width: fit-content; */
  /* align-items: center; */
  /* width: 100px; */

  /* flex-wrap: wrap; */
  height: 200px;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tbLogin {
  position: sticky;
}

.linkPass {
  text-align: left;
}
